.titulo{
  text-align: center;
  margin-top: 350px;
}
.paragrafo{
    text-align: center;
}
.jogar{
    margin-left: 705px;
}
.comojogar{
  border-radius: 10000px;
}
.skins{
  border-radius: 10000px;
}
.jogar{
  border-radius: 10000px;
}